<article class="mb-5">
    <div class="row">

        <div class="col md-5">
            {% if article.featuredImage is not null %}
            <a href="{{ path('article_show',{'slug':article.slug}) }}">
                <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="350" height="205">
            </a>
            {% else %}
                
            {% endif %}
        </div>

        <div class="col-md-7">
            <h2>
                <a href="{{ path('article_show',{'slug':article.slug}) }}" class="text-decoration-none">{{ article.title }}
                </a>
            </h2>
            <p>
               Posted {{article.createdAt|ago}}
            </p>
                {{article.featuredText ?: article.content|striptags|u.truncate(130, '...')}}
        </div> 
    </div>
</article>